using AppModule.Dto;
using DataAccessLayer.Models;
using Microsoft.AspNet.OData;
using Microsoft.AspNetCore.Mvc;
using Microsoft.EntityFrameworkCore;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;

namespace WebApi.Controllers.System
{
    public partial class @{@Model.TableName}Controller : ODataController
    {
        
    }
}
